  <section class="auth-page">

    <div class="stars"></div>

    <div class="auth-card">

        <h2>Вход</h2>
        <p class="auth-subtitle">
            Добре дошли отново в света на Малкия принц
        </p>

        <form>

            <div class="input-group">
                <label>Email</label>
                <input type="email" placeholder="example@email.com">
            </div>

            <div class="input-group">
                <label>Парола</label>
                <input type="password" placeholder="••••••••">
            </div>

            <button class="hero-btn auth-btn">Влез</button>

        </form>

        <p class="auth-switch">
            Нямате профил?
           <a routerLink="/register">Регистрация</a>
        </p>

    </div>

</section>
