<section class="admin-page">
    <div class="stars"></div>

    <h1 class="admin-title">Създай нов продукт</h1>

    <form class="admin-form" (ngSubmit)="onSubmit()">
        <label>Име на продукта</label>
        <input 
            type="text" 
            [(ngModel)]="product.name" 
            name="name"
            placeholder="Пример: Чаша 'Малкият принц'"
            required>

        <label>Описание</label>
        <textarea 
            [(ngModel)]="product.description" 
            name="description"
            placeholder="Кратко описание на продукта"
            rows="4"
            required></textarea>

        <label>Цена</label>
        <input 
            type="number" 
            step="0.01"
            [(ngModel)]="product.price" 
            name="price"
            placeholder="24.90"
            required>

        <label>Снимка (URL)</label>
        <input 
            type="text" 
            [(ngModel)]="product.imageUrl" 
            name="imageUrl"
            placeholder="Въведете линк към изображението">

        @if (error) {
            <div class="error-message">{{ error }}</div>
        }

        <button type="submit" class="hero-btn" [disabled]="loading">
            {{ loading ? 'Запазване...' : 'Създай продукт' }}
        </button>

    </form>
</section>