<section class="catalog">
    <div class="stars"></div>

    <h1 class="catalog-title">Колекция сувенири</h1>

    <div class="product-grid">
        <div class="product-card" *ngFor="let product of products">
            <img [src]="product.imageUrl" [alt]="product.name">
            <div class="product-info">
                <h3>{{ product.name }}</h3>
                <p class="product-desc">{{ product.description }}</p>
                <div class="product-bottom">
                    <span class="price">{{ product.price }} евро</span>
                    <a [routerLink]="['/details', product.id]" class="details-btn">Детайли</a>
                </div>
            </div>
        </div>
    </div>
</section>

