/* ================= CATALOG ================= */

.catalog {
    min-height: 100vh;
    padding: 100px 70px 120px;

    background:
        radial-gradient(circle at 30% 30%, rgba(111, 182, 255, 0.35), transparent 40%),
        radial-gradient(circle at 70% 20%, rgba(255, 255, 255, 0.15), transparent 35%),
        linear-gradient(180deg, #0a1a2f 0%, #122f52 100%);

    text-align: center;
    position: relative;
}

.catalog-title {
    font-size: 46px;
    font-weight: 200;
    margin-bottom: 80px;
}

/* grid */

.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}

/* card */

.product-card {
    background: rgba(255,255,255,0.05);
    border-radius: 24px;
    overflow: hidden;

    backdrop-filter: blur(8px);

    transition: 0.4s ease;
}

.product-card:hover {
    transform: translateY(-10px);
    background: rgba(255,255,255,0.08);
}

/* image */

.product-card img {
    width: 100%;
    height: 260px;
    object-fit: cover;
}

/* info */

.product-info {
    padding: 25px;
    text-align: left;
}

.product-info h3 {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 10px;
}

.product-desc {
    font-size: 14px;
    color: #cfe4ff;
    margin-bottom: 20px;
}

/* bottom */

.product-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price {
    font-size: 18px;
    font-weight: 400;
}

/* button */

.details-btn {
    padding: 8px 18px;
    border-radius: 20px;

    background: linear-gradient(135deg,#6fb6ff,#9fd3ff);

    color: #0a1a2f;
    text-decoration: none;

    font-size: 13px;
    font-weight: 500;
}