<header class="header">
  <div class="brand">Little Prince</div>

  <nav class="nav">
    <a routerLink="/">Начало</a>
    <a routerLink="/catalog">Магазин</a>

    @if (isAdmin) {
      <a routerLink="/create">Добави продукт</a>
    }

    @if (isLoggedIn) {
    <a routerLink="/dashboard">Профил</a>
    <a routerLink="/cart">Количка</a>
}

    @if (!isLoggedIn) {
      <a routerLink="/login">Вход</a>
      <a routerLink="/register">Регистрация</a>
    }

    @if (isLoggedIn) {
      <a (click)="logout()" style="cursor: pointer;">Изход</a>
    }
  </nav>
</header>