<section class="hero">
    <div class="stars"></div>

    <div class="hero-text">
        <h1>Истински се вижда само със сърцето. <br>Същественото е невидимо за очите.</h1>
        <p>
          Малки сувенири с голямо значение. Подаръци, вдъхновени от звездите, планетите и детското въображение.
        </p>
        <a routerLink="/catalog" class="btn btn-primary">Разгледайте колекцията</a>
    </div>

    <div class="hero-image">
        <img src="https://cdn11.bigcommerce.com/s-9xdcxxuu0e/images/stencil/960w/products/17032/20058/little-prince-top-of-planet-little-prince__61987.1650367036.jpg?c=1" alt="The Little Prince illustration">
    </div>
</section>

<section class="collection">
    <h2>Светът на Малкия принц</h2>

    <div class="cards">
        <div class="card" *ngFor="let product of topProducts">
            <span>
                <img [src]="product.imageUrl" [alt]="product.name">
            </span>
            <h3>{{ product.name }}</h3>
            <p>{{ product.description }}</p>
        </div>
    </div>
</section>