<section class="hero">
        <div class="stars"></div> <!-- динамични звездички -->

        <div class="hero-text">
            <h1>Истински се вижда само със сърцето. <br>Същественото е невидимо за очите.</h1>
            <p>
              Малки сувенири с голямо значение. Подаръци, вдъхновени от звездите, планетите и детското въображение.
            </p>
            <a routerLink="/catalog" class="hero-btn">Разгледайте колекцията</a>
        </div>

        <div class="hero-image">
            <img src="assets/images/img-1.jpg" alt="The Little Prince illustration">
        </div>
    </section>

    <section class="collection">
        <h2>Светът на Малкия принц</h2>

        <div class="cards">
            <div class="card">
                <span>
                    <img src="assets/images/малкия-принц-чаша.jpg" alt="">
                </span>
                <h3>Чаши</h3>
                <p>За топли напитки и тихи моменти под звездите.</p>
            </div>

            <div class="card">
                <span>
                    <img src="assets/images/0T-8.jpg" alt="">
                </span>
                <h3>Тениски</h3>
                <p>Истории от малки планети, превърнати в дрехи.</p>
            </div>

            <div class="card">
                <span>
                    <img src="assets/images/IMG_9116-1024x768.jpeg" alt="">
                </span>
                <h3>Сувенири</h3>
                <p>Малки спомени от една голяма приказка.</p>
            </div>
        </div>
    </section>
