<section class="page-container">
    <div class="stars"></div>

    @if (product && !isLoading) {
        <div class="details-container">
            <div class="details-image">
                <img [src]="product.imageUrl" [alt]="product.name">
            </div>

            <div class="details-info">
                <h1 class="details-title">{{ product.name }}</h1>
                <p class="details-description">{{ product.description }}</p>
                
                <div class="details-content">
                    <h3>За продукта:</h3>
                    <p>{{ product.content }}</p>
                </div>
                
                <div class="details-price">{{ product.price }} евро</div>

                <div class="details-actions">
                    @if (isLoggedIn && !isAdmin) {
                        <button class="btn btn-primary">Добави в кошницата</button>
                    }

                    @if (isAdmin) {
                       <button class="btn btn-primary" [routerLink]="['/edit', product._id]">Редактирай</button>
                        <button class="btn btn-danger" (click)="deleteProduct()">Изтрий</button>
                    }

                    <a routerLink="/catalog" class="btn btn-secondary">Обратно към каталога</a>
                </div>
            </div>
        </div>
    } @else if (!isLoading && errorMessage) {
        <div class="not-found">
            <h2>{{ errorMessage }}</h2>
            <a routerLink="/catalog" class="btn btn-secondary">Обратно към каталога</a>
        </div>
    } @else if (isLoading) {
        <div class="loading">Зареждане...</div>
    }
</section>