 <section class="auth-page">

    <div class="stars"></div>

    <div class="auth-card">

        <h2>Регистрация</h2>
        <p class="auth-subtitle">
            Създайте профил и открийте нови малки планети
        </p>

        <form>

            <div class="input-group">
                <label>Email</label>
                <input type="email" placeholder="example@email.com">
            </div>

            <div class="input-group">
                <label>Парола</label>
                <input type="password" placeholder="••••••••">
            </div>

            <div class="input-group">
                <label>Повтори паролата</label>
                <input type="password" placeholder="••••••••">
            </div>

            <button class="hero-btn auth-btn">Създай профил</button>

        </form>

        <p class="auth-switch">
            Вече имате профил?
            <a routerLink="/login">Вход</a>
        </p>

    </div>

</section>